<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br />

		<form action="/noticias/salvar" method="post" >
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo da noticia"/>
			<br />
			<label>Noticias</label>
			<textarea id="noticias" name="noticias" rows="5" cols="30"></textarea> />
			<br />
			<input type="submit" value="enviar" />

	</body>
</html>