<!doctype hmtl>
<html>
    <head>
        <title> meu primeiro site de merda</title>
        
        <h1><em>Como escolher sua placa de video?</em></h1>
        <br>
        <br>
        <br>
        <h2>No mercado existem inúmeras placas de video
        <br>
        mas poucas se destacam pelo desempenho</h2>
        <ul>
        <li><a href = "https://google.com ">desempenho</a></li>
         <li>preço</li>   
        <li>são so alguns dos fatores relevantes na hora de escolher sua vga</li>
        
        </ul>
        <br>
        <h1>um video abaixo explica melhor como funciona</h1>
        
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3-xp3T0riuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    
    
    </head>

</html>